# Environment variables declared in this file are automatically made available to Prisma.
# See the documentation for more detail: https://pris.ly/d/prisma-schema#accessing-environment-variables-from-the-schema

# Prisma supports the native connection string format for PostgreSQL, MySQL, SQLite, SQL Server, MongoDB and CockroachDB.
# See the documentation for all the connection string options: https://pris.ly/d/connection-strings

MYSQL_USER=prisma
MYSQL_PASSWORD=topsecret123!
MYSQL_DATABASE=catprod

# https://dev.mysql.com/doc/refman/8.0/en/docker-mysql-more-topics.html
MYSQL_RANDOM_ROOT_PASSWORD=true
MYSQL_ONETIME_PASSWORD=true

# for dev mode
# DB_HOST=localhost

# for docker/prod mode
DB_HOST=prod-cat-db

DB_PORT=3306
DB_SCHEMA=catprod

# Prisma database connection
DATABASE_URL=mysql://${MYSQL_USER}:${MYSQL_PASSWORD}@${DB_HOST}:${DB_PORT}/${MYSQL_DATABASE}?useUnicode=true&characterEncoding=utf8mb4

## Swagger
SWAGGER_ENABLED=true
## Also available:
## SWAGGER_PATH, SWAGGER_VERSION, SWAGGER_TITLE, SWAGGER_DESCRIPTION
## See docs/env-config.md for further information

## NestJS
PORT=3333


## Dir for Uploaded Images
IMG_DIRECTORY=default

## MinIo Module
#For development
MINIO_ENDPOINT=localhost
#for production
#MINIO_ENDPOINT=minio
MINIO_PORT=9000
MINIO_ACCESS_KEY=accesskey
MINIO_SECRET_KEY=secretkey
MINIO_BUCKET_NAME=bucketname
